html.egg-active {
  position: relative;
}

html.egg-active::before {
  content: "";
  position: fixed;
  inset: -10%;
  z-index: -1;
  background-image: var(--egg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px) saturate(1.1) brightness(0.8);
  transform: scale(1.1);
  opacity: 0.5;
}

html.egg-active::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: var(--egg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
  filter: drop-shadow(0 20px 50px rgba(0, 0, 0, 0.6));
}

body.egg-active * {
    background-color: transparent !important;
    text-shadow: 0 0.033em white, 0.033em 0 white, -0.033em 0 white, 0 -0.033em white;
}

body.egg-active img,
body.egg-active iframe,
body.egg-active video,
body.egg-active canvas {
  opacity: 0.5 !important;
}

@keyframes flicker
{
    from {opacity: 1;}
    to {opacity: 0;}
}

.onload {
  animation: flicker 3s;
}
