html.egg-active {
  position: relative;
}

html.egg-active::before {
  content: "";
  position: fixed;
  inset: -10%;
  z-index: -1;
  background-image: var(--egg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(10px) saturate(1.1);
  transform: scale(1.1);
  opacity: 0.5;
}

html.egg-active::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: var(--egg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}

body.egg-active * {
    background-color: transparent !important;
}

body.egg-active img,
body.egg-active iframe,
body.egg-active video,
body.egg-active canvas {
  opacity: 0.5 !important;
}